body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #333;
    color: white;
    font-family: Arial;
}

#permissions {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 100;
    max-width: 480px;
    max-height: 200px;
    background-color: white;
    color: black;
    border-radius: 12px;
    padding: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#allowButton {
    width: 12rem;
    height: 3rem;
    border-radius: 8px;
    background-color: black;
    color: white;
    cursor: grab;
    font-size: 1rem;
    font-weight: bold;
}

#tourContainer {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.content {
    background-color: #666;
    width: 100vw;
    height: 100vh;
    
}


#playlistContainer {
    position: absolute;
    width: 24rem;
    height: 40rem;
    z-index: 100;
    background-color: white;
    color: #666;
    border-radius: 12px;
    left: 14rem;
    display: none;
    flex-direction: column;
}

#playlistHeader {
    text-align: center;
    margin: 16px;
}

#playlistChapters {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.playlist-item {
    font-size: 1.2rem;
    padding: 24px;
    cursor: pointer;
}

#tourContainer {
    display: flex;
    justify-content: center;
    align-items:  center;
    flex-direction: column;
}

#contentContainer {
    display: flex;
    justify-content: center;
    align-items:  center;
    flex-direction: column;
    text-align: center;
    overflow: hidden;
}

#chapterAudio {
    display: flex;
    justify-content: center;
    align-items:  center;
    flex-direction: column;
}
.chapter-image {

}

#trackImage {
    max-width: 400px;
    border-radius: 12px;

}

#xrContent {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: black;
    z-index: 100;
}

#xrContent iframe {
    width: 100%;
    height: 100%;
}

#videoContainer {
    width: 100%;
    height: 100%;
    border: none;
    background: #000;
}



#xrContent video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


#immersiveVideo {
    width: 100vw;
    height: 100vh;
}

#playerControls {
    z-index: 100;
    position: fixed;
    bottom: 140px;
    left: 0;
    right: 0;
    margin: auto;
    background-color: white;
    max-width: 48rem;
    max-height: 12rem;
    padding: 1rem;
    border-radius: 12px;
}

.controls {
    border-radius: 50%;
    width: 4rem;
    height: 4rem;
    background-color: #c0c0c0;
    color: white;
    border: none;
    font-size: 1.6rem;
    cursor: grab;
}

#topControls {
    display: flex;
    justify-content: space-between;
}

.xr-controls {
    border-radius: 8px;
    width: 8rem;
    height: 4rem;
    background-color: white;
    color: #666;
    border: none;
    font-size: 1.6rem;
    position: fixed;
    left: 0;
    right: 0;
    margin: auto;
    bottom: 380px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 200;
}

.xr-controls:hover {
    cursor: grab;
}

.progress-container {
    width: 100%;
    height: 20px;
    position: relative;
    background: #999;
    display: flex;
    align-items: center;
    border-radius: 4px;
    margin-top: 1.2rem;
    margin-bottom: 1.2rem;
}

#progressBar {
    background: #666;
    border-radius: 4px;
    height: 100%;
    width: 0%;
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
}

#trackProgress {
    position: relative;
    height: 8px;
    background: #999;
    border-radius: 4px;
    flex: 1;
}

.seek {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 2;
}

#timecodes {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

#currTime, #trackDuration {
    min-width: 20px;
    text-align: center;
    font-size: 1.0rem;
    color: white;
}